body {
  background: gray;
}

#app {
  height: 400px;
}

.card {
  font-size: 10pt;
  height: 50px;
  width: 120px;
  border-style: dotted;
  border-width: 1px;
}

.card-drag {
  opacity: 0.2;
}

.active-drop {
  background: blue;
}

.can-drop {
  background: white;
}

.column {
  height: 120px;
  width: 400px;
  margin: 10px;
}
