#app {
  height: 400px;
  display: flex;
}

body {
  margin: 0 auto;
}

textarea.lock {
  resize: none;
}

textarea:read-only, input:read-only {
  color: grey;
  border: none;
}

.cardModal button {
  font-size: 12pt;
}

.summary {
  width:80%;
  height:150px;
}

.board {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  height: 600px;
  align-items: stretch;
  flex-direction: row;
}

button {
  background-color: transparent;
  border-style: none;
}

.card {
  font-size: 12pt;
  color: slategrey;
  border-style: solid;
  border-color: lightslategrey;
  border-width: 1px;
  background: lightgrey;
  min-height: 10%;
}

.card-drag {
  opacity: 0.3;
}

.card .delete-button {
  float: right;
}

.card .modal {
  float: right;
}

.card .content {
  float: left;
}

.active-drop {
  background: lightgrey;
}

/* .can-drop { */
/*   background: lightgrey; */
/* } */

.column {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: lightslategrey;
  flex-direction: column;
  flex-grow: 2;
  min-width: 30%;
  min-height: 100%;
}

.newCardInput {
  font-size: 16pt;
  margin: 1%;
}

.newCardSubmit {
  font-size: 16pt;
  margin: 1%;
}

.example {
  font-size: 16pt;
}

.example:hover {
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 130ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 130ms ease-in;
}

#delay1 {
  position: relative;
  transition-property: font-size;
  transition-duration: 1s;
  font-size: 14;
}

#delay1:hover {
  position: relative;
  transition-property: font-size;
  transition-duration: 2s;
  font-size: 36;
}

.box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  background-color: #FFCCCC;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* navbar stuff */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18;
  background-color: #E8E8E8;
}

.left-links {
  display: flex;
}

.navbar-item {
  color: black;
  padding: .5em 1em .5em 1em;
  text-decoration: none;
}

.navbar-item-link:hover {
  color: grey;
  transition-duration: 0.5s;
}

.dropdown-content {
  z-index: 1;
  display: flex;
  background-color: white;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  border-style: solid;
  border-width: 1px;
}

.dropdown-item {
  padding: .5em 1em .5em 1em;
  color: black;
}

.dropdown-item:hover {
  color: grey;
}
