#app {
  height: 400px;
}

textarea.lock {
  resize: none;
}

textarea:read-only {
  color: grey;
  border: none;
}

.cardModal button {
  font-size: 12pt;
}

.summary {
  width:80%;
  height:150px;
}

.board {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  height: 600px;
  align-items: stretch;
  flex-direction: row;
}

button {
  background-color: transparent;
  border-style: none;
}

.card {
  font-size: 12pt;
  color: slategrey;
  border-style: solid;
  border-color: lightslategrey;
  border-width: 1px;
  background: lightgrey;
  min-height: 10%;
}

.card-drag {
  opacity: 0.3;
}

.card .delete-button {
  float: right;
}

.card .modal {
  float: right;
}

.card .content {
  float: left;
}

.active-drop .column {
  background: #E9EBFF;
}

.can-drop .column {
  background: #9DA6FF;
}

.column {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: lightslategrey;
  flex-direction: column;
  flex-grow: 2;
  min-width: 30%;
  min-height: 100%;
}

.newCardInput {
  font-size: 16pt;
  margin: 1%;
}

.newCardSubmit {
  font-size: 16pt;
  margin: 1%;
}

