#app {
  height: 400px;
}

textarea.lock {
  resize: none;
}

textarea:read-only, input:read-only {
  color: grey;
  border: none;
}

.cardModal button {
  font-size: 12pt;
}

.summary {
  width:80%;
  height:150px;
}

.board {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  height: 600px;
  align-items: stretch;
  flex-direction: row;
}

button {
  background-color: transparent;
  border-style: none;
}

.card {
  font-size: 12pt;
  color: slategrey;
  border-style: solid;
  border-color: lightslategrey;
  border-width: 1px;
  background: lightgrey;
  min-height: 10%;
}

.card-drag {
  opacity: 0.3;
}

.card .delete-button {
  float: right;
}

.card .modal {
  float: right;
}

.card .content {
  float: left;
}

.active-drop {
  background: lightgrey;
}

/* .can-drop { */
/*   background: lightgrey; */
/* } */

.column {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: lightslategrey;
  flex-direction: column;
  flex-grow: 2;
  min-width: 30%;
  min-height: 100%;
}

.newCardInput {
  font-size: 16pt;
  margin: 1%;
}

.newCardSubmit {
  font-size: 16pt;
  margin: 1%;
}

.example {
  font-size: 16pt;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 130ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 130ms ease-in;
}
